<div id="comment">
  <h4>
    <span>Comment</span>
    <span id="close">X</span>
  </h4>
  <% notes.each do |note| %>
    <div id="box">
      <!-- image section -->
      <div id="image">
        <div id="img">

        </div>
        <div id="desc">
          Bob fieldGuy
        </div>
      </div>

      <!-- notes section -->
      <div id="notes">
        <p style="font-weight: bold;">
          Note :
          <%= note.note_type %>
        </p>
        <p>
          <%= note.description %>
        </p>
      </div>

      <div id="created_at">
        <%= note.created_at %>
      </div>
    </div>
  <% end %>
</div>