<table width="100%">
  <% notes.each do |note| %>
    <tr class="<%= cycle('odd', 'even')  %> ">
      <td><%= note.created_at %></td>
      <td><%= note.note_type %></td>
      <td><%= note.description %></td>
      <td>
        <%#= link_to "Edit", edit_note_path(note) %>
      </td>
    </tr>
  <% end %>
</table>
<hr />