<%= render '/layouts/customer_with_action' %>
<%= render '/layouts/tab_panel_for_customer' %>
<%= render 'form' %>
<hr />
  <h2>NOTES</h2>
  <div id="notes">
    <%= render :partial => "notes", :locals => {:notes => @notes} %>
  </div>