.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/scopes/*.xml
/encodings.xml
/misc.xml
/modules.xml
/vcs.xml
/Vikings.iml
.idea
.project
.env*
.rvmrc
public/uploads
*.dump
nbproject/*

