<style>
  #ui-datepicker-div, .ui-helper-clearfix{
    border: none;
    overflow: hidden;
  }
</style>

<%= render '/layouts/customer_with_action' %>

<% if params[:type] == "Job" || params[:type] == "job" %>
  <%= render '/layouts/tab_panel_for_job' %>
<% else %>
  <%= render  '/layouts/tab_panel_for_customer' %>
<% end %>

<ul class="nav nav-tabs" id="custom_tab">
  <li class='active'>
    <a href="#">Custom Tab 1</a>
  </li>
  <li>
    <a href="#">Custom Tab 2</a>
  </li>
</ul>

<%=  render 'customs' %>