<%= render '/layouts/tabs_for_settings' %>

<ul class="nav nav-tabs" id="custom_tab">
  <li class='active'>
    <a href="#">Custom Tab 1</a>
  </li>
  <li>
    <a href="#">Custom Tab 2</a>
  </li>
</ul>

<%= render 'form' %>