<% if @items %>
  <% @items.each do |item| %>
    <li id="auto_res"><%= link_to_function item.name,"text_field_value('#{item.name}')" %></li>
  <% end %>
<% else %>
  no results
<% end %>
<style>
  ul li#auto_res{
    list-style-type: none;
    padding: 2px;
  }

  #auto_results{
    border: 2px solid grey;
    left: -24px;
    position: relative;
    top: -10px;
    width: 429px;
    display: none;
  }
</style>
<script>
  function text_field_value(item){
    var count = $("#auto_complete_text").val().split(',').length;
    var str = $("#auto_complete_text").val();
    var coma_len = $("#auto_complete_text").val().lastIndexOf(',')
    var fin = (str.length - coma_len)-1;
    if(count == 1){
      tex_val = ''
    }else{
      tex_val = str.slice(0,-fin);
    }
    $("#auto_complete_text").val(tex_val+''+item+',');
    $("#auto_results").hide();
    $("#auto_complete_text").val('');
    $.ajax({
      url:'/items/create_inventory',
      data:{
        name:item,
        sub_to:$( "#create_inventory").val()
      },
      type:'GET',
      success:function(data){}
    });
  }
</script>