<span style = "color:#0044cc; font-weight: bold;"> Job # : <%= @job_number  %>  </span>
<br />
<div style="width:435px; font-weight: bold;">
    <% if @job == nil %>
      <span style="color:red">Please select Job for this item !</span>
    <% else %>
      <%= "Job# : " + @job.reference_no + ", " %>
    <% end %>


    <% if @customer == nil %>
      <span style="color:red">Please select customer for this item !</span><br/>
    <% else %>
      <%=  "Customer : " + @customer.company_name + ", " + @customer.address1 + ", " + @customer.city + ", " + @customer.state + ", " + @customer.zip.to_s %>
    <% end %>

    <% if @jobsite == nil %>
      <span style="color:red">Please select Jobsite for this item !</span>
    <% else %>
      <%= "Job Site : " + @jobsite.name + ", " + @jobsite.city + ", " + @jobsite.state + ", " + @jobsite.zip %>
    <% end %>
  </div>
  <br/>