<%= render :partial => "layouts/tabs_for_settings" %>
<table class =" table-striped">
  <tr>
    <th colspan="7" style="background:#666; color: #FFF; font-weight: bold;">Items List</th>
  </tr>

   <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
    </tr>
    <% end %>
</table>