/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

h1, h2, h3, h4{
    color: #339bb9;
}

table{
    border:1px solid #333;
    width:950px;
}

tr, td, th {
    border: none;
}

td, th{
    padding: 5px;
    text-align: center;
}

tr.heading{
    background: #777777;
    color:#FFF;
}

tr.even{
    background: #FCFCFC;
}

tr.odd{
    background: #CCC;
}

#error_explanation{
    color: red;
}

#dsh_box{
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 19px 29px 29px;
}

.left{
    float: left;
    width: 150px;
}
.right{
    float: left;
    width: 700px;
}

#comment{
    clear: both;
    width: 100%;
    padding : 0;
    margin: 0;
    margin-bottom: 10px;
    background: #CCC;
    border: 2px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#comment h4{
    clear: both;
    margin: 0;
    width: auto;
    border: 2px solid rgb(221, 110, 8);
    padding: 5px;
    background:rgb(28, 132, 245);
    color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#comment #close{
    float: right;
    padding-right: 10px;
    cursor: pointer;
    font-weight: bolder;
}

#comment #box{
    display: box;
    clear: both;
    background: #F0F0F0;
    width: 97%;
    margin: 8px auto;
    padding: 5px;
    height: 130px;
}

#comment #box #image{
    width: 100px;
    float: left
}
#image #img{
    width: 80px;
    height: 80px;
    margin: 5px auto;
    background: #c0c0c0;
}
#image #desc{
    width: 80px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

#comment #box #notes{
    margin: 10px 0 0 20px;
    width: 50%;
    float: left;
}

#comment #box #created_at{
    width: auto;
    margin-top: 20px;
    padding: 2px 5px;
    float: right;
    font-weight: bold;
    border: 1px solid #333;
}

#ajax_loader_big_div{
    display:none;
    height:auto;
    left:50%;
    position:fixed;
    top:40%;
    z-index:1000;
}