// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#item_form input[type="text"]{
background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 180px;
    padding :4px 0px;
}



