// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

#job_class_type, #job_assigned_to, #job_status, #job_contact_id, #job_sales_person, #note_type{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 430px;
}

#contact34{
    display:none;
    border: 1px solid #CCC;
    padding: 5px;
    width: 420px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #F0F0F0;
}

div.scrollWrapper{

  height:250px;

  overflow:scroll;
}