// Place all the styles related to the roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#role_roll{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 200px;
    padding: 14px 6px;
}