<div class="trial-warning error">
  Your SMO trial period is expired, please suscribe now for accessing SMO.
  <%= link_to_function "Suscribe Now", "alert('comming soon'); return false;", :class => "btn btn-small btn-success" ,:style => "margin-left:20px;" %>
</div>