<% unless session[:customer_id] %>
  <p style="color:red">Please select customer first and continue</p>
<% end %>

<% unless session[:jobsite_id] %>
  <p style="color: red">Please select Jobsite and continue</p>
<% end %>