<ul class ="nav nav-tabs">
   <li class = <%= params[:controller] == "dashboards" ? 'active' : ''  %> >
    <%= link_to "Dashboard", '/dashboards/index' %>
  </li>
  
  <li class =<%= params[:controller] == "reports" ? 'active' : '' %>>
  <%= link_to "Reports", reports_path %>
  </li>
  
</ul>